<canvas matrix primary="data.matrix.primary" alpha="data.matrix.alpha"></canvas>
<article jmpress-press="data.opts" data-template="main">

  <section id="title">
    <h1>Legacy 2000</h1>
    <h2>Brandon Phillips</h2>
  </section>

  <section id="me">
    <h1 data-jmpress="drive-up after 500ms step">A Little Bit About Me</h1><br>
    <div class="slide-col" data-jmpress="drive-up after 200ms prev">
      <img src="/assets/images/profile.png">
    </div>
    <div class="slide-col">
      <h4 data-jmpress="drive-up after 200ms prev">Joined sophomore year</h4>
      <h4 data-jmpress="drive-up after 200ms prev">Web development</h4>
      <h6 data-jmpress="drive-up after 200ms prev">Has been a hobby for a long time</h6>
      <h6 data-jmpress="drive-up after 200ms prev">Recently, became a steady part-time job</h6>
    </div>
  </section>

  <section id="theme">
    <h5 data-jmpress="drive-up after 500ms step">L2k is really about...</h5>
    <h1 data-jmpress="drive-up after 2s prev" class="huge">Networking</h1>
    <h4 data-jmpress="drive-up after 2s prev">Professional</h4>
    <h4 data-jmpress="drive-up after 500ms prev">Social</h4>
    <h4 data-jmpress="drive-up after 500ms prev">Intellectual</h4>
    <h4 data-jmpress="drive-up after 500ms prev">Academic</h4>
  </section>

  <section id="freshman">
    <h1 class="big" data-jmpress="drive-up after 500ms step">Freshman Year</h1>
    <h4 data-jmpress="drive-up after 1s prev">Mine was a little different</h4>
    <div class="slide-col">
      <h4 data-jmpress="drive-up after 1500ms prev">Easy classes</h4>
      <h4 data-jmpress="drive-up after 200ms prev">No intellectual stimuli</h4>
      <h4 data-jmpress="drive-up after 200ms prev">Nothing to keep me interested</h4>
      <h4 data-jmpress="drive-up after 200ms prev">Jealous</h4>
    </div>
    <div class="slide-col">
      <img src="/assets/images/sign-blue.png" data-jmpress="drive-up after 200ms prev">
    </div>
  </section>

  <section id="sophomore">
    <h1 class="big" data-jmpress="drive-up after 500ms step">Sophomore Year</h1>
    <h4 data-jmpress="drive-up after 1s prev">Social/Intellectual Networking</h4>
    <div class="slide-col">
      <img src="/assets/images/friends.png" data-jmpress="drive-up after 1500ms prev">
    </div>
    <div class="slide-col">
      <h4 data-jmpress="drive-up after 200ms prev">A lot more in common</h4>
      <h4 data-jmpress="drive-up after 200ms prev">A lot more to do</h4>
      <h4 data-jmpress="drive-up after 200ms prev">A class I actually looked forward to going to</h4>
      <h4 data-jmpress="drive-up after 200ms prev">Developed more people skills</h4>
    </div>
  </section>

  <section id="junior">
    <h1 class="big" data-jmpress="drive-up after 500ms step">Junior Year</h1>
    <h4 data-jmpress="drive-up after 1s prev">Professional/Academic Networking</h4>
    <div class="slide-col">
      <h4 data-jmpress="drive-up after 1500ms prev">Meeting more outside of L2k</h4>
      <h4 data-jmpress="drive-up after 200ms prev">Job Shadow</h4>
      <h6 data-jmpress="drive-up after 200ms prev">Mine was at Orbotix</h6>
      <h4 data-jmpress="drive-up after 200ms prev">The REAL college study</h4>
      <h6 data-jmpress="drive-up after 200ms prev">Interviewing college students</h6>
    </div>
    <div class="slide-col">
      <img src="/assets/images/book.png" data-jmpress="drive-up after 200ms prev">
    </div>
  </section>

  <section id="webdev">
    <h1 class="big" data-jmpress="drive-up after 500ms step">What is web development?</h1>
    <h4 data-jmpress="drive-up after 200ms prev">Building web apps and web sites</h4>
    <h4 data-jmpress="drive-up after 200ms prev">From Google to GMail to Wikipedia</h4>
    <h4 data-jmpress="drive-up after 200ms prev">I've used it for a few school projects</h4>
    <h6 data-jmpress="drive-up after 200ms prev">Job Fair</h6>
    <h6 data-jmpress="drive-up after 200ms prev">Pop Culture</h6>
  </section>

  <section id="webdevdemo">
    <h1 data-jmpress="drive-up after 500ms step">Pop Culture Project</h1><br>
    <h3 data-jmpress="drive-up after 200ms prev"><a href="/demo.html">Demo</a></h3>
  </section>

  <section id="webdevhow">
    <h1 data-jmpress="drive-up after 500ms step">How it worked</h1>
  </section>

  <section id="senior">
    <h1 class="big" data-jmpress="drive-up after 500ms step">Senior Year</h1>
    <h4 data-jmpress="drive-up after 1s prev">Professional Networking</h4>
    <div class="slide-col">
      <img src="/assets/images/briefcase.png" data-jmpress="drive-up after 1500ms prev">
    </div>
    <div class="slide-col">
      <h4 data-jmpress="drive-up after 200ms prev">A lot of reflecting</h4>
      <h4 data-jmpress="drive-up after 200ms prev">More creative projects</h4>
      <h6 data-jmpress="drive-up after 200ms prev">Pop Culture/Career Poster</h6>
      <h4 data-jmpress="drive-up after 200ms prev">Internship</h4>
      <h6 data-jmpress="drive-up after 200ms prev">Everest Agency (web development consulting)</h6>
      <h6 data-jmpress="drive-up after 200ms prev">Became a steady job</h6>
    </div>
  </section>

  <section id="overall">
    <h1 data-jmpress="drive-up after 500ms step">L2k is really about...</h1><br>
    <h3 data-jmpress="drive-up after 200ms prev">Forming relationships</h3>
    <h3 data-jmpress="drive-up after 200ms prev">Learning how to learn</h3>
  </section>

  <section id="questions">
    <h1 data-jmpress="drive-up after 500ms step">Thanks!</h1><br>
  </section>

</article>