<!--<canvas matrix primary="data.matrix.primary" alpha="data.matrix.alpha"></canvas>-->
<article jmpress-pres="data.opts" data-template="main">

  <section id="title">
    <h1>Legacy 2000</h1>
    <h2>Brandon Phillips</h2>
  </section>

  <section id="me">
    <h1 data-jmpress="drive-up after 500ms step">A Little Bit About Me</h1><br>
    <div class="slide-col" data-jmpress="drive-up after 200ms prev">
      <img src="/assets/images/profile.png">
    </div>
    <div class="slide-col">
      <h4 data-jmpress="drive-up after 200ms prev">Joined sophomore year</h4>
      <h4 data-jmpress="drive-up after 200ms prev">Web development</h4>
      <h6 data-jmpress="drive-up after 200ms prev">Has been a hobby for a long time</h6>
      <h6 data-jmpress="drive-up after 200ms prev">Recently, became a steady part-time job</h6>
    </div>
  </section>

  <section id="theme">
    <h5 data-jmpress="drive-up after 500ms step">L2k is really about...</h5>
    <h1 data-jmpress="drive-up after 2s prev" class="huge">Networking</h1>
    <h4 data-jmpress="drive-up after 2s prev">Professional</h4>
    <h4 data-jmpress="drive-up after 500ms prev">Social</h4>
    <h4 data-jmpress="drive-up after 500ms prev">Intellectual</h4>
    <h4 data-jmpress="drive-up after 500ms prev">Academic</h4>
  </section>

  <section id="freshman">
    <h1 class="big" data-jmpress="drive-up after 500ms step">Freshman Year</h1>
    <h4 data-jmpress="drive-up after 1s prev">Mine was a little different</h4>
    <div class="slide-col">
      <h4 data-jmpress="drive-up after 1500ms prev">Easy classes</h4>
      <h4 data-jmpress="drive-up after 200ms prev">No intellectual stimuli</h4>
      <h4 data-jmpress="drive-up after 200ms prev">Nothing to keep me interested</h4>
      <h4 data-jmpress="drive-up after 200ms prev">Jealous</h4>
    </div>
    <div class="slide-col">
      <img src="/assets/images/sign-blue.png" data-jmpress="drive-up after 200ms prev">
    </div>
    <h3><br></h3>
  </section>

</article>