<canvas matrix primary="data.matrix.primary" alpha="data.matrix.alpha"></canvas>
<article jmpress-pres="data.opts" data-template="main">
  <section id="title">
    <h1>Legacy 2000</h1>
    <h2>Brandon Phillips</h2>
  </section>
  <section id="theme">
    <h1 data-jmpress="drive-up after 1s step" class="huge">Networking</h1>
    <h3 data-jmpress="drive-up after 3s prev">Social</h3>
    <h3 data-jmpress="drive-up after 500ms prev">Intellectual</h3>
    <h3 data-jmpress="drive-up after 500ms prev">Academic</h3>
  </section>
  <section id="freshman-year">
    <h1 class="big">Freshman Year</h1>
    <h4>Mine was a little different</h4><br><br>
    
    <h3>Easy <em>'A'</em>s</h3>
    <h3>No intellectual stimuli</h3>
    <h3>No intellectual stimuli</h3>
    <h3><br></h3>
  </section>
</article>