<div class="panel panel-info pet-box">
  <div class="panel-heading">{{pet.name}}</div>
  <div class="panel-body text-center">
    I am <input type="text" readonly="readonly" class="form-control input-sm text-center age-box" ng-model="pet.age"> years old.
    <button class="btn btn-sm btn-danger" ng-click="deletePet()">Delete me!</button>
  </div>
</div>